body {
    /* display: flex;
    
    align-items: center; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: lightskyblue;
}

#video-wrapper {
    position: relative;
    width: auto;
    height: auto;
}

video, canvas {
    max-width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
}